{% extends "energyManagement/layout.html" %}
{% load static %}

{% block body %}
<center>
    <div id="firstLoad" class="buttonsLed" style="padding-top: 4vh; padding-bottom: 4vh; background-color: pink;">
        <img src="{% static 'energyManagement/borboletaBlue.png' %}" alt="Com Carinho Boutique Arduino" width="5%">
        <img src="{% static 'energyManagement/borboletaBlue.png' %}" alt="Com Carinho Boutique Arduino" width="10%">
        <img src="{% static 'energyManagement/lampOff.png' %}" id="lampImg" alt="Lamp" width="30%">
        <span id="ledStatus" hidden>0</span>
        <img src="{% static 'energyManagement/borboletaBlueInvert.png' %}" alt="Com Carinho Boutique Arduino" width="5%">
        <img src="{% static 'energyManagement/borboletaBlueInvert.png' %}" alt="Com Carinho Boutique Arduino" width="10%">      
    </div>
    <div id="secondLoad" style="padding-top: 4vh; padding-bottom: 4vh; background-color: #b3fff4">
        <img src="{% static 'energyManagement/borboleta.png' %}" alt="Com Carinho Boutique Arduino" width="3%">
        <img src="{% static 'energyManagement/borboleta.png' %}" alt="Com Carinho Boutique Arduino" width="5%">
        <img src="{% static 'energyManagement/borboleta.png' %}" alt="Com Carinho Boutique Arduino" width="10%">
        <!--img style="margin-left: 3vw;" src="{% static 'energyManagement/pot.png' %}" id="potImg" alt="Potenciometer" width="80vw"-->
        <img src="{% static 'energyManagement/fan.png' %}" id="loadImg" alt="Fan" width="30%">
        <span id="anotherLoad" hidden>0</span>
        <img src="{% static 'energyManagement/borboletaInvert.png' %}" alt="Com Carinho Boutique Arduino" width="5%">
        <img src="{% static 'energyManagement/borboletaInvert.png' %}" alt="Com Carinho Boutique Arduino" width="10%">
        <img src="{% static 'energyManagement/borboletaInvert.png' %}" alt="Com Carinho Boutique Arduino" width="3%">
        <div>
            <button type="button" class="btn btn-primary" onclick="loadOn();">Turn On</button>
            <button type="button" class="btn btn-secondary" onclick="loadOff();">Turn Off</button>
        </div>
    </div>
</center>
<div style="padding-left: 40%;">
    <span id="presence"></span>
</div>
<div style="padding-left: 40%;">
    <span id="timer"></span>
</div>

{% endblock %}